<footer id="footer" class="footer" data-aos="fade-up" data-aos-delay="10" data-aos-offset="150px">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>{{site_name}}</span>
          </a>
          <p>Welcome to FitMetric – your ultimate health companion! With our Django-powered platform, you can explore a range of personalized features, from a TDEE calculator to nutrition tracking and an AI chatbot for tailored advice. Predict diseases based on symptoms, stay informed through events and blogs, and simplify medication management with our prescription image analysis. Your journey to a healthier you begins here at FitMetric. Start exploring now!</p>
          <div class="social-links d-flex mt-4">
            <a href="https://github.com/Venkatnvs/Streamline_Fitmetric" class="github"><i class="bi bi-github"></i></a>
            <a href="https://nvsconnect.me/" class="person"><i class="bi bi-person"></i></a>
            <a href="https://www.instagram.com/n.venkatswaroop" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/n-venkat-swaroop/" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="{% url 'utils-terms-conds' %}">Terms of service</a></li>
            <li><a href="{% url 'utils-contact-us' %}">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Collaborate with Us</h4>
          <ul>
            <li><a href="{% url 'utils-contact-us' %}">Advertise with Us</a></li>
            <li><a href="{% url 'main-nutrition' %}">Diet</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="{% url 'list_blog_post' %}">Events</a></li>
            <li><a href="{% url 'meets-home' %}">Book Appointment</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            {{site_name}}<br>
            12 main, 13rd Cross,<br>
            Jp Nagar<br>
            Bengaluru - 560068.<br>
            Karnataka, INDIA.<br><br>
            <strong>Email:&nbsp;</strong><a class="mail_to_a" href="mailto:contact@nvsconnect.me">contact@nvsconnect.me</a></a><br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-1">
      <div class="copyright">
        &copy; Copyright <strong><span>{{site_name}}</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>