{% extends 'base/index.html' %}

{% block title %}
Terms And Conditions | {{site_name}}
{% endblock title %}

{% block content %}
<h1 class="text-center mb-3">Terms And Conditions</h1>
<section class="container">
    <h2>Introduction</h2>
    <p>Welcome to FitMetric. These terms and conditions outline the rules and regulations for the use of FitMetric's website, located at <a href="https://fitmetric.onrender.com/">https://fitmetric.onrender.com/</a>.</p>
    <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use FitMetric if you do not agree to all of the terms and conditions stated on this page.</p>
    
    <h2>Definitions</h2>
    <p>
        <strong>Website:</strong> Refers to FitMetric, accessible from <a href="https://fitmetric.onrender.com/">https://fitmetric.onrender.com/</a>.<br>
        <strong>User:</strong> Refers to any individual who accesses or uses the website.<br>
        <strong>We/Us/Our:</strong> Refers to FitMetric.
    </p>
    
    <h2>Use of the Website</h2>
    
    <h3>Eligibility</h3>
    <p>By using this website, you represent and warrant that you are at least 18 years of age or accessing the website under the supervision of a parent or guardian.</p>
    
    <h3>Health Information</h3>
    <p>The content provided on this website, including information about fitness, nutrition, and health predictions, is for informational purposes only. It is not intended to substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition.</p>
    
    <h3>User Accounts</h3>
    <p>When you create an account with us, you must provide us with information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the terms, which may result in immediate termination of your account on our service.</p>
    <p>You are responsible for safeguarding the password that you use to access the service and for any activities or actions under your password, whether your password is with our service or a third-party service.</p>
    
    <h3>Prohibited Activities</h3>
    <p>You are prohibited from using the site or its content:</p>
    <ul>
        <li>For any unlawful purpose.</li>
        <li>To solicit others to perform or participate in any unlawful acts.</li>
        <li>To violate any international, federal, provincial, or state regulations, rules, laws, or local ordinances.</li>
        <li>To infringe upon or violate our intellectual property rights or the intellectual property rights of others.</li>
        <li>To harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability.</li>
    </ul>
    
    <h2>Intellectual Property</h2>
    <p>The website and its original content, features, and functionality are and will remain the exclusive property of FitMetric and its licensors. The website is protected by copyright, trademark, and other laws of both the United States and foreign countries.</p>
    
    <h2>Limitation of Liability</h2>
    <p>In no event shall FitMetric, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential, or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from:</p>
    <ul>
        <li>Your use of or inability to use the website.</li>
        <li>Any unauthorized access to or use of our servers and/or any personal information stored therein.</li>
        <li>Any interruption or cessation of transmission to or from the website.</li>
        <li>Any bugs, viruses, trojan horses, or the like that may be transmitted to or through our website by any third party.</li>
        <li>Any errors or omissions in any content or for any loss or damage incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available through the website.</li>
        <li>The defamatory, offensive, or illegal conduct of any third party.</li>
    </ul>
    
    <h2>Indemnification</h2>
    <p>You agree to defend, indemnify, and hold harmless FitMetric and its licensee and licensors, and their employees, contractors, agents, officers, and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs, or debt, and expenses (including but not limited to attorney's fees), resulting from or arising out of:</p>
    <ul>
        <li>Your use and access of the website.</li>
        <li>A breach of these terms.</li>
    </ul>
    
    <h2>Changes to These Terms</h2>
    <p>We reserve the right, at our sole discretion, to modify or replace these terms at any time. If a revision is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
    
    <h2>Contact Us</h2>
    <p>If you have any questions about these terms, please contact us at <a href="{% url 'utils-contact-us' %}">Contact Us</a>.</p>
</section>
{% endblock content %}
