{% extends "base/index.html" %}

{% block content %}
    <h1 class="text-center title-h">Check your Bookings</h1>
    <style>
        .list-group-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .list-group-item .btn {
            margin-left: 10px;
            padding: 5px 10px;
        }
    </style>
    <div class="list-group">
        {% for appointment in appointments %}
            <a href="https://nvs-meet.onrender.com/" class="list-group-item list-group-item-action">
                {{ appointment }} - {{ appointment.date}}  <span  id="uuid{{ forloop.counter }}"><span class="font-weight-bold">Meeting Id</span>  - <span class="badge bg-primary">{{ appointment.uuid|stringformat:"s"|slice:":5" }}</span> </span>
                <button class="btn btn-default" onclick="copyToClipboard('uuid{{ forloop.counter }}')">Copy</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
<script>
function copyToClipboard(elementId) {
    var copyText = document.getElementById(elementId);
    var textArea = document.createElement("textarea");
    textArea.value = copyText.textContent;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("Copy");
    textArea.remove();
}
</script>
{% endblock %}