{% extends "base/index.html" %}

{% block content %}
<h2>Dashboard</h2>
<div class="col-md-10">
    <div class="row justify-content-center d-flex">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <span>Users Score</span>
                </div>
                <div class="card-body">
                    <canvas id="UserScore" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <span>Users Tdee</span>
                </div>
                <div class="card-body">
                    <canvas id="UserTdee" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    var Data1 = {{ data|safe }};

    var UserScoreCanvas = document.getElementById('UserScore').getContext('2d');
    var UserScore = new Chart(UserScoreCanvas, {
        type: 'bar',
        data: {
            labels: Data1.map(entry => entry.date),
            datasets: [{
                label: 'User Count',
                data: Data1.map(entry => entry.score),
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        }
    });


    var Data2 = {{ data2|safe }};

    var UserScoreCanvas = document.getElementById('UserTdee').getContext('2d');
    var UserScore = new Chart(UserScoreCanvas, {
        type: 'bar',
        data: {
            labels: countryData.map(entry => entry.created_at),
            datasets: [{
                label: 'User Count',
                data: countryData.map(entry => entry.calories),
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        }
    });
</script>
{% endblock scripts %}
    